#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 16px;
}
body {
  background: rgb(174,237,238);
  background: linear-gradient(151deg, rgba(174,237,238,1) 0%, rgba(232,233,148,1) 100%);
}

.pokemonCard {
  margin: auto;
  height: calc(40em + 10vh);
  width: calc(25em + 10vw);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.pokemonCard:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

.pokemonLook {
  margin: 2em 1em;
  padding: 1em;
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}
.pokemonLook:hover {
filter: drop-shadow(0 0 2em #78C850);
}
.description {
  height: 5em;
  width: 80%;
  margin: 0 1em 2em 1em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 4px;
}
.pokemonName {
  color: black;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
}
.pokeType {
  margin: 0;
  width: 25%;
  color: white;
  text-transform: uppercase;
  background-color: #78C850;
  border-radius: 4px;
}
.nonexistent { color: black; } /* no image case !*/
.nonexistentType { 
  color: black;
  margin: 0;
}
.boutons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.button {
  width: 10em;
  margin: 1em;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.25));
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  border: none;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.45);
  filter: brightness(1.55);
}

.prevLast {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.firstPokemon, .lastPokemon {
  width: 10em;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5rem 1rem;
  color: #78C850 ;
}
